<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MiniWeather needs your current location to automatically fill in weather info for it.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>MiniWeather needs your current location to automatically fill in weather info for it.</string>
	<key>NSLocationUsageDescription</key>
	<string>MiniWeather needs your current location to automatically fill in weather info for it.</string>
</dict>
</plist>
